html {
  width: 100%;
  height: 100%;
  background-color: var(--DefaultBackgroundColor);
  color: var(--DefaultColor);
  font-family: var(--DefaultFontFamily);
  font-size: 16px;
  font-size: responsive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}
