[infinite-loader] {
  --Padding: var(--DefaultLayoutPadding);
  &::after {
    content: attr(infinite-loader);
    display: block;
    position: relative;
    padding-top: var(--Padding);
    font-style: italic;
    text-align: center;
    letter-spacing: 0.05em;
    animation: infinite-loader-DOT 0.5s infinite alternate;
  }
}
@keyframes infinite-loader-FADE {
  from {
    opacity: 0.25;
    transform: translateY(0.25rem);
  }
  to {
    opacity: 1;
    transform: translateY(-0.25rem);
  }
}
@keyframes infinite-loader-DOT {
  33% {
    content: attr(infinite-loader) ".";
  }
  66% {
    content: attr(infinite-loader) "..";
  }
  100% {
    content: attr(infinite-loader) "...";
  }
}

/* v-sticky (Sticky) directive */

[sticky-active] [sticky-placeholder],
[fullscreen-active] + [fullscreen-placeholder] {
  display: block;
  position: relative !important;
}

[sticky-placeholder],
[fullscreen-placeholder] {
  --BackgroundColor: var(--DefaultColor);
  --Color: var(--DefaultBackgroundColor);
  --DotPatternImage: url("../assets/background_patterndot.svg");

  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: color-mod(var(--BackgroundColor) a(0.25));
    background: var(--DotPatternImage);
  }
  &:after {
    content: attr(sticky-placeholder);
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 0 0.3rem;
    background-color: var(--Color);
    font-size: 0.8rem;
    line-height: 1.5rem;
    /* font-weight: bold; */
    font-style: italic;
    /* text-transform: uppercase; */
  }
}

/* v-sticky (Sticky) directive */

[resizer-top],
[resizer-right],
[resizer-bottom],
[resizer-left],
[resizer-topleft],
[resizer-topright],
[resizer-bottomright],
[resizer-bottomleft] {
  --ResizerSize: 3px;
  --ResizerBackgroundColor: #444;
  position: absolute;
  background-color: var(--ResizerBackgroundColor);
  &:hover {
    background-color: var(--ResizerBackgroundColor);
  }
}
[resizer-top],
[resizer-right],
[resizer-bottom],
[resizer-left] {
  z-index: 999998;
}

[resizer-top] {
  width: 100%;
  height: var(--ResizerSize);
  top: 0;
  left: 0;
  cursor: n-resize;
}
[resizer-right] {
  width: var(--ResizerSize);
  height: 100%;
  top: 0;
  right: 0;
  cursor: e-resize;
}
[resizer-bottom] {
  width: 100%;
  height: var(--ResizerSize);
  bottom: 0;
  left: 0;
  cursor: s-resize;
}
[resizer-left] {
  width: var(--ResizerSize);
  height: 100%;
  top: 0;
  left: 0;
  cursor: w-resize;
}
[resizer-topleft],
[resizer-topright],
[resizer-bottomright],
[resizer-bottomleft] {
  z-index: 999999;
}
[resizer-topleft] {
  width: var(--ResizerSize);
  height: var(--ResizerSize);
  top: 0;
  left: 0;
  cursor: nw-resize;
}
[resizer-topright] {
  width: var(--ResizerSize);
  height: var(--ResizerSize);
  top: 0;
  right: 0;
  cursor: ne-resize;
}
[resizer-bottomright] {
  width: var(--ResizerSize);
  height: var(--ResizerSize);
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
[resizer-bottomleft] {
  width: var(--ResizerSize);
  height: var(--ResizerSize);
  bottom: 0;
  left: 0;
  cursor: sw-resize;
}
